@charset "utf-8";
/* CSS Document */
.suggest_link {
	background:transparent;
	padding: 2px 6px 2px 6px;
}
.suggest_link_over {
	background-color: #CCCCCC;
	padding: 2px 6px 2px 6px;
}
.suggestions {
	float:left;
	background-color: #FFFFFF; 
	text-align: left; 
	border: 1px solid #CCCCCC;
	overflow: auto;	
	clear:right;
	width:100%;
	height:95px;
}
.suggestions_loading{
	float:left;
	background-color: #FFFFFF;
	background-image: url('{T_THEME_PATH}/images/loading-image.gif');
	background-position:center;
	background-repeat:no-repeat;
	text-align: left; 
	border: 1px solid #CCCCCC;
	overflow: auto;	
	clear:right;
	width:100%;
	height:95px;
}		
.suggest_posting{
	width: 300px;
    margin-left:20px;
}

#tags{
	float:left;
	width:98%;
	height:90px;
}
#submit-tags{
	float:left;
	width:100%;
	clear:right;
}
#tag-results li{
	list-style:none;
}
#tag-results .scrolling-div{
	max-height:170px;
	height: expression( this.scrollHeight > 169 ? "170px" : "auto" ); /* sets max-height for IE */
	overflow:auto;
}
